@font-face {
    font-family: Aldo;
    src: url('./assests/AldotheApache.ttf');
  }
 
@font-face {
    font-family: ice;
    src: url('./assests/Iceberg-Regular.ttf');
  }
 
@font-face {
    font-family: quantico;
    src: url('./assests/Quantico-Regular.ttf');
  }
 

body{
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    font-family: Aldo;
    width: 100vw;
    margin: 0 auto;
    max-width: 2480px;
}

p, h4{
    margin: 0;
    padding: 0;
}

.bg_container{
    position: absolute;
    top: 0;
    left: -90px;
    z-index: 3;
    overflow: hidden;
}

.bg_container img{
    opacity: .7;
}

header{
    display: flex;
    justify-content: space-between;
    padding: 40px 95px 0px;
    position: relative;
    z-index: 9;
}

header ul{
    display: flex;
    justify-content: space-evenly;
    width: 20%;
    align-items: flex-end;
}

header ul li{
    list-style: none;

}

header ul li a{
    color: #fff;
    text-decoration: none;
}

.main-col{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: -60px;
    position: relative;
    z-index: 7;
    height: 100vh;
    overflow: hidden;
}

.banner_image_container{
    flex: 1.2;
    position: relative;
    z-index: 7;
}

.banner_image_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.slider_col{
    flex: 0.8;
}

.date{
    color: #27FFFF;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: ice;

}

.headline{
    font-size: 100px;
    line-height: 87px;
    text-transform: uppercase;
    width: 90%;
    letter-spacing: 2px;
}

.banner-content{
    width: 80%;
    font-family: quantico;
    font-size: 20px;
    line-height: 29px;
    position: relative;
    z-index: 19;
}


.social-links{
    background-color: transparent;
    color: #fff;
    display: flex;
    align-items: center;
    /* width: 150px; */
    margin: 10px 20px 10px 0;
    padding: 10px 15px 10px 0;
    position: relative;
    z-index: 19;

}

.social-links  img{
    margin: 10px 20px 10px 0;
    cursor: pointer;
}

.copyright{
    font-size: 16px;
    font-family: quantico;
    margin-top: 60px;
    transition: 1s;
    cursor: pointer;
    color: #fff;
}

.copyright:hover{
    color: #27FFFF;
    text-decoration: underline;
}

@media screen and (max-width:800px){

    body{
        overflow-x: hidden !important;
        overflow-y: scroll;
    }

    .bg_container{
        width: 100vw;
        position: absolute;
        top: 0;
        left: -90px;
        z-index: 3;
        overflow: hidden;
    }


    .main-col{
        flex-direction: column;
        margin-top: 0;
        height: fit-content;
    }

    header{
        padding: 20px 30px 0px;
        position: relative;
        z-index: 9;
    }

    header ul{
        width: 35%;
        align-items: flex-end;
    }

    .banner_image_container{
        flex: 0.8;
    }

    .slider_col{
        flex: 1.2;
        padding-left: 30px;
        margin-top: -60px;
    }

    .banner_image_container{
        margin-top: -50px;
    }

    .banner_image_container img{
        width: 100%;
        height: 100%;
    }

    .headline{
        font-size: 65px;
        line-height: 50px;
        width: 90%;
        letter-spacing: 1px;
    }

    

    .banner-content{
        width: 90%;
        font-family: quantico;
        font-size: 20px;
        line-height: 25px;
    }

    .copyright{
        font-size: 14px;
        font-family: quantico;
        margin-top: 0px;
        
    }
    .social-links{
        background-color: transparent;
        color: #fff;
        display: flex;
        align-items: center;
        /* width: 150px; */
        margin: 10px 20px 10px 0;
        padding: 10px 15px 70px 0;
    
    }
    
    .social-links  img{
        margin: 0px 20px 0px 0;
        cursor: pointer;
        position: relative;
        z-index: 8;
        width: 150px;
    }
}